@page "/"

<h1>Autocomplete Cage Match!</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            Da Classic
        </div>
        <div class="col-4">
            Timer
        </div>
        <div class="col-4">
            Easy Way
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <AutoComplete/>
        </div>
        <div class="col-4">
            <TimerComplete/>
        </div>
        <div class="col-4">
            <DebounceComplete/>
        </div>
    </div>
</div>
